body {
    background: url("../img/bgmain.jpeg");
}


#container {
    width: 800px;
    margin: 0 auto;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}

#header {
    border: 1px solid grey;
    height: 120px;
    position: relative;
    padding: 20px;
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

#posts {
    width: 100%;
    height: 470px;
    overflow: auto;
    background: url("../img/bg.jpg");
    background-size: 100% 100%;
}

.post {
    background: rgba(0, 0, 0, 0.7);
    margin: 20px;
    padding: 20px;
    color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#name {
    font-family: 'Courgette', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}
.fa-pencil-square-o:before {
    font-size: 40px;
    color: #ffffff;
    margin-left: 10px;
}
.fa-pencil-square-o:hover::before {
    cursor: pointer;
    color: lightgreen;
}

#follow {
    font-family: 'Courgette', cursive;
    position: absolute;
    width: 200px;
    height: 40px;
    top: 20px;
    right: 20px;
    margin-left: 50%;
}

#text {
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.text {
    font-family: 'Courgette', cursive;
}

#send {
    font-family: 'Courgette', cursive;
    position: absolute;
    width: 100px;
    height: 40px;
    bottom: 25px;
    right: 30px;
}
#editProfile {
    padding: 40px;
    position: absolute;
    width: 300px;
    height: 200px;
    margin: auto auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    background: url("../img/panda.jpg");
    background-size: 100% 100%;
    border-radius: 10px;
}

#followDialog {
    padding: 40px;
    background: grey;
    position: absolute;
    width: 200px;
    height: 150px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    background: url("../img/panda.jpg");
    background-size: 100% 100%;
    border-radius: 10px;
}

.fullName {
    font-weight: bold;
}
button {
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
}
button:hover {
    cursor: pointer;
    border-color: lightgreen;
    color: lightgreen;
}
.fa-user-plus {
    margin-right: 10px;
    font-size: 15px;
}
.fa-xing {
    font-size: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
}
.fa-xing:hover {
    cursor: pointer;
    color: darkred;
}
#editProfile span {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
#followDialog span {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
#container #followDialog #add, #container #editProfile #save {
    width: 70px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}